body{
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-width: fit-content;
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}



/* Header */
ul, a{
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}

.logo{
    width: 75px;
    height: auto;
    border: 2px solid orchid;
    border-radius: 50%;
}

.header{
    background-color: #1F2937;
}

.top,
.bottom{
    display: flex;
    justify-content: space-between;
    margin: 20px 300px 80px;
}

.placeholder{
    width: 400px;
    height: 250px;
    border-radius: 15%;
    margin-bottom: 80px;
}

.left-content{
    width: 450px;
    height: auto;
}

.title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight:900;
    margin: 0;
}

.hero-sec{
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.hero-signup{
    background-color: #3882F6;
    margin-top: 16px;
    padding: 12px 40px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
    border: 0;
    border-radius: 12px;
}



/* Information */
.rand-info{
    text-align: center;
    margin: 40px;
}

.portraits-wtext{
    display: flex;
    justify-content: center;
    margin: 0 420px 120px;
    gap: 68px;
    text-align: center;
    font-size: 18px;
}

.portraits-wtext div p{
    max-width: fit-content;
}

.portraits{
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}



/* Quote */
.quote-author,
.quote-author div{
        display: flex;
}

.quote-author{
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 160px 420px;
}

.quote-author div{
    justify-content: center;
}

.author,
.quote{
    margin: 0;
    color: #1F2937;
    min-width: 800px;
}

.author{
    font-weight: bolder;
    font-size: 22px;
    text-align: end;
}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}